body{
    font-family: 'Montserrat', sans-serif;
    background: #F4F8FB;
}
.mainpage_header{
    background: url("../images/bg.jpg") no-repeat;
    background-position: center center;
    background-size: cover;
}
.standart_header{
    background: #200545;
    box-shadow: 1px 0px 10px rgba(0,0,0,.25);
}
.navbar-nav{
    color:#fff;
    font-weight: 500;
}
.navbar-dark .navbar-nav .nav-link{
    color:#fff;
    transition: color .3s;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #EB2B63;
}
.primary_btn{
    background: #EB2B63;
    border: none;
    border-radius: 10px;
    padding: 5px 20px;
    color:#fff;
    font-weight: 500;
}
.secondary_btn{
    background: transparent;
    border: 1px solid #EB2B63;
    border-radius: 10px;
    padding: 5px 20px;
    color:#fff;
    font-weight: 500;
}

.header_content .btn:hover{
    color:#fff;
}
.header_title{
    font-size: 5em;
    text-transform: capitalize;
}
.section_subtitle{
    font-size: .9em;
    color:rgba(0,0,0,.5);
    text-transform: uppercase;
}
.section_title{
    font-size: 2.5em;
    font-weight: bold;
}
.content_item i{
    font-size: 3.5em;
    color: #EB2B63;
}
.content_item p{
    color: rgba(0,0,0,.5);
}
.content_item h4{
    font-weight: 600;
}
.contact{
    background: url("../images/bg.jpg") no-repeat;
    background-position: center top;
    
}
/* .contact form{
    width: 50%;
    margin: 0 auto;
} */
.banner{
    background: url("../images/banner-bg.jpg") no-repeat;
    background-position: center center;
}
.banner .row div .primary_btn {
    padding: 10px 50px;
}
.banner .btn:hover{
    color:#fff;
}
.banner p{
    color: rgba(255,255,255,.5);
}
.contact .section_subtitle{
    color: rgba(255,255,255,.5)
}
.work_step i {
    font-size: 3.5em;
    color: #EB2B63;
    margin-bottom: 20px;
}
.btn:hover{
    color:#fff;
}
.gray-text{
    color: rgba(255,255,255,.5);
}
footer{
    background: #200545;
}

.auth_modal .modal-content{
    background: #200545;
}
.modal .btn:hover{
    color:#fff;
}
.signup{
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    
}
.signup h1 {
    color:#EB2B63;
    font-size: 2em;
    text-align: center;
}
.signup form{
    color:#EB2B63;
    font-weight: 600;
}
.profile .data .table, .resume, .vacancies {
    background: #fff;
    box-shadow: 5px 5px 15px rgba(0,0,0,.15);
}
.profile .data .data_head{
    color:#EB2B63;
    font-weight: 500;
}
.messages .offers {

    font-size: .9em;
}
.messages .offers h5{
    color: #EB2B63;
    font-size: 1.1em;
}
.messages .offers .text{
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
}
.messages .secondary_btn{
    padding: 3px;
    border-radius: 3px;
    color: #EB2B63;
    font-size: .7em;
}
.vacancy{
    border-bottom: 1px solid #EB2B63;
    font-size: .8em;
}
.link_btn{
    padding: 0;
    background: transparent;
    color:  #EB2B63;
    border: none;
    font-weight: 500;
}
.vacancy .primary_btn, .resume .primary_btn {
    padding: 0;
    background: transparent;
    color:  #EB2B63;
    border: none;
    font-weight: 600;
    font-size: .9em;
}
.vacancy_add .content{
    color: #EB2B63;
    background: #fff;
}

.vacancy_detail .author .author_info{
    font-size: .8em;
}
.vacancy_detail .author h4{
    font-size: 1.5em;
}
.vacancy_description{
    white-space: pre-wrap;
}
.tag{
    padding: 3px 5px;
    border: 1px solid #EB2B63;
    color: #EB2B63;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 3px;
}
.comments{
    border: 1px solid #200545;
    border-radius: 4px;
}
.comments .name{
    cursor: pointer;
    font-size: 1.7em;
}

.comments .text{
    white-space: pre-wrap;
    font-size: .9em;
}
.comments .primary_btn{
    padding: 0;
    background: transparent;
    color:  #EB2B63;
    border: none;
    font-weight: 600;
    font-size: .8em;
    float: right;
}
.modal_message{
    font-size: .8em;
}
.modal_message h3{
    font-size: 1.5em;
}
.modal_close{
  color: #EB2B63;
  cursor: pointer;
}
.list .offer_description{
    text-overflow: ellipsis;
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden;
}
.list_item{
    font-size: .9em;
}
.list .btn:hover{
    color:#EB2B63;
}
.list i{
    color: #EB2B63;
}
.list .tag{
    font-size: .8em;
}
.messages{
    background: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 10px rgba(0,0,0,.3);
}

.msg_unread{
    background: rgb(230, 162, 37);
    border-radius: 2px;
    padding: 3px;
    font-size: .6em;
}
.filter .primary_btn{
    font-size: .8em;
    padding: 5px 8px;
}
@media screen and (max-width: 1000px) {
    .header_title{
        font-size: 2.5em;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    .header_content{
        padding: 0;
    }

}
  
